body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #02366F;
}

html, body {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.logo{
    width: 300px;
    position: relative;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #02366F;
    color: white;
}

.button-contacto{
    color: #D41515;
    background-color: white;
    border-radius: 12px;
    font-weight: bold;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header li {
    margin-left: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

.foto1{
    background-image: url('Fotos/25_p.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    color:  white;
    font-weight: bold;
    font-size: 30px;
}

.Logo{
    width: 300px;
    height: auto;
    position: relative;
    padding-left: 80%;
    padding-top: 2%;
}

.infof1{
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
}

.infof2 {
    display: flex; /* Mantén el diseño en línea horizontal */
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between;
    gap: 2rem; /* Espacio entre la imagen y el texto externo */
    padding: 5%; /* Espaciado general */
    color: white;
    line-height: 1.8;
}

.infof2 p {
    flex: 1;
    text-align: justify;
}

.cta-container {
    flex: 1;
    position: relative; 
    max-width: 50%;
}

.cta-container img {
    width: 100%; 
    height: auto;
    border-radius: 12px;
}

.cta-text {
    position: absolute; 
    bottom: 40%;
    left: 40%;
    color: #D41515;
    text-align: center; 
    font-size: 3rem;
    line-height: 1.2; 
    background-color: transparent;
    padding: 0.5rem 1rem; 
    border-radius: 8px;
}

.cta-text h2 {
    font-size: 1.8rem;
    margin: 0;
}

.butonf2{
    padding-left: 75%;
    color: white;
    background-color: transparent;
}

.botoncontacto{
    padding: 2%;
    background-color: #D41515;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    opacity: 0.8;
}

.botoncontacto a{
    text-decoration: none;
    text-align: center;
    color: white;
}

footer{
    background-color: #02366F;
    color: white;
    text-align: center;
}

.flogo{
    padding-top: 1%;
    width: 300px;
}

.footer-map {
    margin-bottom: 10px;
}

.info{
    align-items: center;
}

.links{
    color: white;
    text-decoration: none;
}